# Run these libraries before accessing model
flask 
flask-cors 
groq 
speechrecognition 
transformers 
textblob
termcolor
python-dotenv
torch 
torchvision 
torchaudio
tiktoken 
protobuf
happytransformer